
@model PagedList.IPagedList<WebAppOddsMatcherUtility.Models.matched_event>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*<script type="text/javascript">
    $(document).ready(function () {
        //for table row
        $("tr:even").css("background-color", "#A8A8A8");
        $("tr:odd").css("background-color", "#FFFFFF");

    });
</script>*@

@{
    ViewBag.Title = "Matched";
}

@*<h2>Odds Comparison Utility</h2>*@


@using (Html.BeginForm("Index", "matched_event", FormMethod.Get))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    <a href="#" class="btn btn-success btn-lg" onclick="myFunction()"><span class="glyphicon glyphicon-refresh"> </span></a>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    <b>@Html.DropDownList("SearchByBookmaker", "All bookmakers")</b>
                    <b> @Html.DropDownList("SearchByBack", "All back bets")</b>
                    <b> @Html.DropDownList("SearchBySize", "All sizes")</b>

                    <input class="btn btn-info" type="submit" value="Filter" />
                </p>
            </div>
        </div>
    </div>
}
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Event Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #000000; background: #effea5;">
                Sport
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Details", "Index", new { sortOrder = ViewBag.DetailsSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Bet", "Index", new { sortOrder = ViewBag.BetSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Market", "Index", new { sortOrder = ViewBag.MarketSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #000000; background: #effea5;">
                Info
            </th>
            <th style="color: #fff; background: #effea5; text-align:center">
                @Html.ActionLink("Bookmaker", "Index", new { sortOrder = ViewBag.BookmakerSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Back", "Index", new { sortOrder = ViewBag.BackSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Exchange", "Index", new { sortOrder = ViewBag.ExchangeSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Lay", "Index", new { sortOrder = ViewBag.LaySortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
            <th style="color: #fff; background: #effea5;">
                @Html.ActionLink("Size", "Index", new { sortOrder = ViewBag.SizeSortParm, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ValueFor(modelItem => item.eventDate, "{0:dd/MM/yyyy HH:mm}")
                </td>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.sport) alt="Football" data-toggle="popover" title="Football league Premiership">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.betName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marketName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn-xs" data-toggle="modal" data-target="#exampleModal"  
                            data-event="@Html.DisplayFor(modelItem => item.details)" 
                            data-event-date="@Html.ValueFor(modelItem => item.eventDate, "{0:dd/MM/yyyy HH:mm}")" 
                            data-back-odds=@Html.DisplayFor(modelItem => item.back)
                            data-back-comm="0.00"
                            data-lay-odds=@Html.DisplayFor(modelItem => item.lay)
                            data-lay-comm="0.05"
                            data-bookmaker-name="@Html.DisplayFor(modelItem => item.bookmaker_name)"
                            data-exchange-name="Betfair Exchange"
                            data-market-name="@Html.DisplayFor(modelItem => item.marketName)"
                            data-bet-name="@Html.DisplayFor(modelItem => item.betName)">
                            <span class="glyphicon glyphicon-info-sign"></span></button>

                    <!-- Button trigger modal formatting -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                                    <h4 class="modal-title" id="exampleModalLabel">Profit Calculator</h4>
                                </div>
                                <div class="modal-body">
                                    <div style="padding-bottom:10px">
                                        <label class="radio-inline">
                                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id="inlineRadioQualifier" value="optionQualifier"> Qualifier
                                        </label>
                                        <label class="radio-inline" style="padding-left:40px">
                                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id ="inlineRadioSNR" value="optionSNR"> Free Bet SNR
                                        </label>
                                        <label class="radio-inline" style="padding-left:40px">
                                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id="inlineRadioSR" value="optionSR"> Free Bet SR 
                                        </label>
                                    </div>
                                    <div style="padding-bottom:10px">
                                    </div>
                                    <div>
                                        <form>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label for="stake" class="control-label">Stake</label>
                                                        <input type="text" class="form-control" style="color: white; background-color : #000000" onchange="changeStakeFunction()" id="stake">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <label for="event-name" class="control-label">Event</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" id="event-name">
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div><p>Event: </p><textarea id="textareaID"></textarea></div>*@
                                            <div class="row" style="padding-top:20px">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label for="event-date" class="control-label">Date</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" id="event-date">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="bet-name" class="control-label">Bet</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" id="bet-name">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="market-name" class="control-label">Market</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" id="market-name">
                                                    </div>
                                                </div>
                                            </div>
                                            <a>&nbsp;</a>
                                            <div class="row" style="background-color: #D7ECFA; padding-bottom: 10px">
                                                <div class="form-group">
                                                    <div class="col-md-3" style="background-color: #D7ECFA;">
                                                        <label for="back-odds" class="control-label">Back Odds</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" style="text-align:right" id="back-odds">
                                                    </div>
                                                    <div class="col-md-3" style="background-color: #D7ECFA;">
                                                        <label for="back-comm" class="control-label">Back Comm</label>
                                                        <input type="text" tabindex="-1" class="form-control" style="text-align:right" id="back-comm">
                                                    </div>
                                                    <div class="col-md-6" style="background-color: #D7ECFA;">
                                                        <label for="bookmaker-name" class="control-label">Bookmaker</label>
                                                        <input type="text" readonly tabindex="-1" class="form-control" id="bookmaker-name">
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <div style="padding-top: 10px">
                                                <div class="row" style="background-color: #FDDEE5; padding-bottom: 10px">
                                                    <div class="form-group">
                                                        <div class="col-md-3" style="background-color: #FDDEE5;">
                                                            <label for="lay-odds" class="control-label">Lay Odds</label>
                                                            <input type="text" readonly tabindex="-1" class="form-control" style="text-align:right" id="lay-odds">
                                                        </div>
                                                        <div class="col-md-3" style="background-color: #FDDEE5;">
                                                            <label for="lay-comm" class="control-label">Lay Comm</label>
                                                            <input type="text" tabindex="-1" class="form-control" style="text-align:right" id="lay-comm">
                                                        </div>
                                                        <div class="col-md-6" style="background-color: #FDDEE5;">
                                                            <label for="exchange-name" class="control-label">Exchange</label>
                                                            <input type="text" readonly tabindex="-1"  class="form-control" id="exchange-name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="background-color: #FDDEE5; padding-bottom: 10px">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label for="lay-amount" class="control-label">You Lay</label>
                                                            <input type="text" readonly tabindex="-1" class="form-control" style="text-align:right" id="lay-amount">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="liability-amount" class="control-label">Liability</label>
                                                            <input type="text" readonly tabindex="-1" class="form-control" style="text-align:right" id="liability-amount">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div style="padding-top: 10px">
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Result
                                            </th>
                                            <th>
                                                Bookmaker balance
                                            </th>
                                            <th>
                                                Exchange Balance
                                            </th>
                                            <th>
                                                Bet Profit
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                Bookmaker Win
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1"  class="form-control" id="bookie-win-bbal">
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1"  class="form-control" id="bookie-win-xbal">
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1"  class="form-control" id="bookie-win-profit" style="text-align:center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Exchange Win
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1" class="form-control" id="exchange-win-bbal">
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1" class="form-control" id="exchange-win-xbal">
                                            </td>
                                            <td>
                                                <input type="text" readonly tabindex="-1" class="form-control" id="exchange-win-profit" style="text-align:center">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" tabindex="-1" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td style="text-align:center">
                    <img src=@Html.DisplayFor(modelItem => item.bookmaker) alt="Bookmaker">
                </td>
                <td style="background-color:#d7ecfa !important;
                     color:#404040;
                     border-radius: 5px;
                     padding: 5px; 
                     border-radius: 5px;
                     width: 50px;
                     display: inline-block;
                     text-align: center;">@Html.DisplayFor(modelItem => item.back)
                </td>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.exchange) alt="Exchange">
                </td>
                <td style="background-color:#fddee5 !important;
                     color:#404040;
                     border-radius: 5px;
                     padding: 5px; 
                     border-radius: 5px;
                     width: 50px;
                     display: inline-block;
                     text-align: center;">@Html.DisplayFor(modelItem => item.lay)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.size)
                </td>
            </tr>
        }

    </table>

     <div id='Paging' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByBack = ViewBag.BackFilter, searchBySize = ViewBag.SizeFilter }))
    </div>
}

else
{
    if (string.IsNullOrEmpty(ViewBag.CurrentFilter) &&
    string.IsNullOrEmpty(ViewBag.BookmakerFilter) &&
    string.IsNullOrEmpty(ViewBag.ViewBag.BackFilter) &&
    string.IsNullOrEmpty(ViewBag.ViewBag.BackFilter))
    {
        <p> There are no events on the database.</p>
    }
    else
    {
        <p> There are no matches for the filter.</p>
    }
}

<script>
    function myFunction() {
        location.reload();
    }
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<script>
    $('#exampleModal').on('shown.bs.modal', function (event) {

        // Set-up variables from modal screen
        var button = $(event.relatedTarget) // Button that triggered the modal
        var scriptEvent = button.data('event')
        var scriptEventDate = button.data('event-date')
        var scriptStake = button.data('stake')
        var scriptOdds = button.data('back-odds')
        var scriptComm = button.data('back-comm')
        var scriptBookmakerName = button.data('bookmaker-name')
        var scriptLayOdds = button.data('lay-odds')
        var scriptLayComm = button.data('lay-comm')
        var scriptExchangeName = button.data('exchange-name')
        var scriptMarketName = button.data('market-name')
        var scriptBetName = button.data('bet-name')

        var modal = $(this)
        modal.find('.modal-body #event-name').val(scriptEvent)
        modal.find('.modal-body #textareaID').val(scriptEvent)
        modal.find('.modal-body #event-date').val(scriptEventDate)
        modal.find('.modal-body #stake').val(scriptStake)
        modal.find('.modal-body #back-odds').val(scriptOdds)
        modal.find('.modal-body #back-comm').val(scriptComm)
        modal.find('.modal-body #bookmaker-name').val(scriptBookmakerName)
        modal.find('.modal-body #lay-odds').val(scriptLayOdds)
        modal.find('.modal-body #lay-comm').val(scriptLayComm)
        modal.find('.modal-body #exchange-name').val(scriptExchangeName)
        modal.find('.modal-body #market-name').val(scriptMarketName)
        modal.find('.modal-body #bet-name').val(scriptBetName)

        // Set blank values for calculated fields
        modal.find('.modal-body #lay-amount').val('')
        modal.find('.modal-body #liability-amount').val('')
        modal.find('.modal-body #bookie-win-bbal').val('')
        modal.find('.modal-body #bookie-win-xbal').val('')
        modal.find('.modal-body #bookie-win-profit').val('')
        modal.find('.modal-body #exchange-win-bbal').val('')
        modal.find('.modal-body #exchange-win-xbal').val('')
        modal.find('.modal-body #exchange-win-profit').val('')


        // Select "Qualifier" radio button
        $('#inlineRadioQualifier').prop('checked', true);

        // Set focus to 
        $('#stake').focus();

    })
</script>

<script>
$(function() {

    $('#exampleModal').on('change', function () {

        var objectTrigger = $(event.relatedTarget) // Button that triggered the modal

        var radio = jQuery('input[name="inlineRadioOptions"]:checked');
        var radioButtonvalue = radio.val();

        var scriptStake = document.getElementById("stake").value;
        var scriptBackOdds = document.getElementById("back-odds").value;
        var scriptBackComm = document.getElementById("back-comm").value;
        var scriptLayOdds = document.getElementById("lay-odds").value;
        var scriptLayComm = document.getElementById("lay-comm").value;

        //
        // Calculate Qualifier
        //
        if (radioButtonvalue == "optionQualifier") {

            // Calculate Lay bet
            // E3/(E4-F4)*D3
            var resultLayBet = scriptBackOdds / (scriptLayOdds - scriptLayComm) * scriptStake;     
            document.getElementById("lay-amount").value = resultLayBet.toFixed(2);

            // Calculate Liability
            // D4*(E4-1))
            var resultLiability = resultLayBet * (scriptLayOdds - 1);
            document.getElementById("liability-amount").value = resultLiability.toFixed(2);

            //
            // Bookmaker Win
            //
            // Bookie Balance
            // D3 * (E3 - 1) * (1 - F3)
            var resultBookmakerWinBB = scriptStake * (scriptBackOdds - 1) * (1 - scriptBackComm)
            document.getElementById("bookie-win-bbal").value = resultBookmakerWinBB.toFixed(2);

            // Exchange Balance
            var resultBookmakerWinXB = resultLiability * -1
            document.getElementById("bookie-win-xbal").value = resultBookmakerWinXB.toFixed(2);

            // Profit
            // K3-G3
            var resultBookmakerWinProfit = resultBookmakerWinBB + resultBookmakerWinXB
            document.getElementById("bookie-win-profit").value = resultBookmakerWinProfit.toFixed(2);

            //
            // Exchange Win
            //
            // Exchange Balance
            // -1 * D3
            var resultExchangeWinBB = -1 * scriptStake;
            document.getElementById("exchange-win-bbal").value = resultExchangeWinBB.toFixed(2);

            // Exchange Balance
            // D4*(1-F4)
            var resultExchangeWinXB = resultLayBet * (1 - scriptLayComm)
            document.getElementById("exchange-win-xbal").value = resultExchangeWinXB.toFixed(2);

            // Profit
            // K4-D3
            var resultExchangeWinProfit = resultExchangeWinXB + resultExchangeWinBB
            document.getElementById("exchange-win-profit").value = resultExchangeWinProfit.toFixed(2);

        }

        //
        // Calculate optionSNR
        //
        if (radioButtonvalue == "optionSNR") {

            // Calculate Lay bet
            //(E3-1)/(E4-F4)*D3
            var resultLayBet = (scriptBackOdds - 1) / (scriptLayOdds - scriptLayComm) * scriptStake;
            document.getElementById("lay-amount").value = resultLayBet.toFixed(2);

            // Calculate Liability
            // D4*(E4-1))
            var resultLiability = resultLayBet * (scriptLayOdds - 1);
            document.getElementById("liability-amount").value = resultLiability.toFixed(2);

            //
            // Bookmaker Win
            //
            // Bookie Balance
            // D3 * (E3 - 1) * (1 - F3)
            var resultBookmakerWinBB = scriptStake * (scriptBackOdds - 1) * (1 - scriptBackComm)
            document.getElementById("bookie-win-bbal").value = resultBookmakerWinBB.toFixed(2);

            // Exchange Balance
            var resultBookmakerWinXB = resultLiability * -1
            document.getElementById("bookie-win-xbal").value = resultBookmakerWinXB.toFixed(2);

            // Profit
            var resultBookmakerWinProfit = resultBookmakerWinBB + resultBookmakerWinXB
            document.getElementById("bookie-win-profit").value = resultBookmakerWinProfit.toFixed(2);

            //
            // Exchange Win
            //
            // Exchange Balance
            var resultExchangeWinBB = 0
            document.getElementById("exchange-win-bbal").value = resultExchangeWinBB.toFixed(2);

            // Exchange Balance
            // D4*(1-F4)
            var resultExchangeWinXB = resultLayBet * (1 - scriptLayComm)
            document.getElementById("exchange-win-xbal").value = resultExchangeWinXB.toFixed(2);

            // Profit
            var resultExchangeWinProfit = resultExchangeWinXB
            document.getElementById("exchange-win-profit").value = resultExchangeWinProfit.toFixed(2);

        }

        //
        // Calculate optionSR
        //
        if (radioButtonvalue == "optionSR") {

            // Calculate Lay bet
            // E3/(E4-F4)*D3
            var resultLayBet = scriptBackOdds / (scriptLayOdds - scriptLayComm) * scriptStake;
            document.getElementById("lay-amount").value = resultLayBet.toFixed(2);

            // Calculate Liability
            // D4*(E4-1))
            var resultLiability = resultLayBet * (scriptLayOdds - 1);
            document.getElementById("liability-amount").value = resultLiability.toFixed(2);

            //
            // Bookmaker Win
            //
            // Bookie Balance
            // D3*E3*(1-F3)
            var resultBookmakerWinBB = scriptStake * scriptBackOdds * (1 - scriptBackComm)
            document.getElementById("bookie-win-bbal").value = resultBookmakerWinBB.toFixed(2);

            // Exchange Balance
            var resultBookmakerWinXB = resultLiability * -1
            document.getElementById("bookie-win-xbal").value = resultBookmakerWinXB.toFixed(2);

            // Profit
            // K3+D3+K4
            var resultBookmakerWinProfit = resultBookmakerWinBB + resultBookmakerWinXB + (1 * scriptStake)
            document.getElementById("bookie-win-profit").value = resultBookmakerWinProfit.toFixed(2);

            //
            // Exchange Win
            //
            // Exchange Balance
            var resultExchangeWinBB = 0
            document.getElementById("exchange-win-bbal").value = resultExchangeWinBB.toFixed(2);

            // Exchange Balance
            // D4*(1-F4)
            var resultExchangeWinXB = resultLayBet * (1 - scriptLayComm)
            document.getElementById("exchange-win-xbal").value = resultExchangeWinXB.toFixed(2);

            // Profit
            var resultExchangeWinProfit = resultExchangeWinXB
            document.getElementById("exchange-win-profit").value = resultExchangeWinProfit.toFixed(2);

        }

        // Colour the Bet Profit fields red when not a profit
        if (resultBookmakerWinProfit < 0) {
            var targetbox = document.getElementById("bookie-win-profit");
            targetbox.style.backgroundColor="red"
            targetbox.style.color = "white"
        }
        if (resultExchangeWinProfit < 0) {
            var targetbox = document.getElementById("exchange-win-profit");
            targetbox.style.backgroundColor = "red"
            targetbox.style.color = "white"
        }

        // Colour the Bet Profit fields Green when a profit
        if (resultBookmakerWinProfit > 0) {
            var targetbox = document.getElementById("bookie-win-profit");
            targetbox.style.backgroundColor = "green"
            targetbox.style.color = "white"
        }
        if (resultExchangeWinProfit > 0) {
            var targetbox = document.getElementById("exchange-win-profit");
            targetbox.style.backgroundColor = "green"
            targetbox.style.color = "white"
        }


  });

});
</script>

<script>
    $('#exampleModal').on('hidden.bs.modal', function (e) {


        $(this).data('bs.modal', null);

    })
</script>
